* {
  box-sizing: border-box;
}

body {
  height: 100%;
}

html {
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  /* background-color: #f5f5f7; */
}

[data-slate-editor] {
  margin: 50px auto;
  max-width: 81ch;
  background-color: #fff;
  min-height: 500px;
  caret-color: #666;

  font-family: 'Courier Prime Sans', monospace;
  font-size: 17px;
  font-weight: regular;
  line-height: 1.35em;
  letter-spacing: 0.3px;
  -webkit-font-smoothing: subpixel-antialiased;
}

.scene-header {
  padding-left: 10ch;
  padding-right: 10ch;
  max-width: 81ch;
  font-weight: bold;
  text-transform: uppercase;
}

.action {
  padding-left: 10ch;
  padding-right: 10ch;
  max-width: 81ch;
}

.transition {
  text-align: right;
  padding-left: 10ch;
  padding-right: 15ch;
  max-width: 81ch;
}

.character {
  padding-left: 30ch;
  text-transform: uppercase;
}

.dialogue {
  padding-left: 20ch;
  max-width: 55ch;
}

.parenthetical {
  padding-left: 24ch;
  max-width: 41ch;
}
